body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #07010c; 
    color: rgb(183, 14, 240);
    padding: 10px 0;
    text-align: center;
}
/* body {
    background-image: url('https://t1.gstatic.com/licensed-image?q=tbn:ANd9GcTDF_re4xEQ6H8y25hOzcg9rzu6vdAheywKKerTaNE9yhpvMrfNL0-i3NtAPk-6XXi34SfATjqSHqgmwecGqVA');
    background-size: cover;
    background-position: center;
    height: 120px; /* Set the height of the nav */
    color: rgb(241, 240, 244); /* Set the text color */
    padding: 15px; /* Add padding */
} */

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    nav {
        display: flex;
        justify-content: space-between; /* or any other alignment you prefer */
        align-items: center; /* vertically centers items */
    }
    
section {
    padding: 20px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flex-item {
    border: 5px solid var(--secondary);
    background-color: var(--primary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
  }
  
  /* feature first portfolio item */
  .flex-item:first-child {
      min-height: 400px;
      flex-basis: 100%;
  }
  
  .flex-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .flex-item div {
    background-color: var(--secondary);
    padding: 8px 10px;
  }
  
  .flex-item h3 {
    font-size: 1.6rem;
  }

.run-buddy {
    border: 1px solid #111185; 
    margin: 10px 0;
    padding: 10px;
}

.led-wall {
  background-image: url("./images/ledWall.jpg");
  background-size: 98%;
  background-position: center;
}

/* .react-calc {
  
}

.pastel-puzzles {
  
}

.surf-report {
  
} */

@media screen and (max-width: 768px) 
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
    }
  
    .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
  }
  
  /* TODO: add media query for a max-width of 768px */